
@{
    ViewData["Title"] = "Nedovoljno bodova";
}

<div class="row">
    <div class="col">
        <form>
            <div class="alert alert-success alert-danger" role="alert"><span class="alert alert-danger"><strong>Nemate dovoljno bodova!</strong></span></div>
            @Html.ActionLink("OK", "OrderDetails", "Order", null, new { @class = "btn btn-primary btn-danger", style = "position: relative;background-color: #3DD713;left: 1100px; color: #000000; border-top-left-radius: 5px; border-bottom-left-radius: 5px;", type = "submit" })

        </form>
    </div>
</div>

