
@{
    ViewData["Title"] = "Nedovoljno bodova";
}

<div class="row">
    <div class="col">
        <form>
            <div class="alert alert-success alert-danger" role="alert"><span class="alert alert-danger"><strong>Nemate dovoljno bodova!</strong></span></div>
        </form>
    </div>
</div>

