
@{
    ViewData["Title"] = "Uspjesna kupovina";
}

<div class="row" style="width: 300;">
    <div class="col">
        <form>
            <div class="alert alert-success" role="alert"><span class="alert alert-success"><strong>Kupovina uspješno obavljena!</strong></span></div>
            @Html.ActionLink("Nazad na pocetnu", "Index", "Order", null, new { @class = "btn btn-primary btn-danger", style = "position: relative;background-color: #3DD713;left: 1100px; color: #000000; border-top-left-radius: 5px; border-bottom-left-radius: 5px;", type = "submit" })

        </form>
    </div>
</div>

