
@{
    ViewData["Title"] = "Promjena lozinke";
}

<div class="row border border-primary" style="background-color: lightgray;width: 280;">
    <div class="col">
        <form>
            <input class="form-control" type="text" name="etSigurnosnoPitanje" placeholder="Sigurnosno pitanje" readonly ="true">
            <div class="form-group row" style="height: 38;"><label class="col-sm-2 col-form-label" for="inputAnswer">Odgovor:</label> <input class="form-control" type="text" name="inputAnswer" placeholder="Ovdje upisite odgovor"></div>
            @Html.ActionLink("Potvrdi", "ChangePassword", "User", null, new { @class = "btn btn-primary btn-danger", style = "position: relative;background-color: #3DD713;left: 1100px; color: #3DD713; border-top-left-radius: 5px; border-bottom-left-radius: 5px;", type = "submit" })

        </form>
    </div>
</div>

