
@{
    ViewData["Title"] = "Promjena lozinke";
}

<div class="row border border-primary" style="background-color: lightgray;width: 280;">
    <div class="col">
        <form>
            <div class="form-group col-md-12 text-center" style="height: 38;"><input class="form-control col-sm-11" type="text" id="outputMessage" readonly="true" /></div>
            <div class="form-group col-md-12 text-center" style="height: 38;"><input class="form-control col-sm-8" type="text" id="inputNewPassword" /></div>
            <div class="form-group col-md-12 text-center" style="height: 40;"><button class="btn btn-primary btn-success" type="button">Potvrdi</button></div>
        </form>
    </div>
</div>

