
@{
    ViewData["Title"] = "Pregled Računa";
}

<div class="row border border-primary" style="background-color: lightgray;width: 280;">
    <div class="col">
        <form>
            <div style="height: 30;"><input class="form-control col-sm-4" type="text" id="outputUsername" readonly="true" /></div>
            <div class="form-group row" style="height: 40;"><label class="col-sm-3 col-form-label" for="outputName">Ime:</label><input class="form-control col-sm-5" type="text" id="outputName" readonly="true" /></div>
            <div class="form-group row" style="height: 40;"><label class="col-sm-3 col-form-label" for="outputSurname">Prezime:</label><input class="form-control col-sm-5" type="text" id="outputSurname" readonly="true" /></div>
            <div class="form-group row" style="height: 40;"><label class="col-sm-3 col-form-label" for="outputAdress">Adresa dostave:</label><input class="form-control col-sm-5" type="text" id="outputAdress" readonly="true" /></div>
            <div class="form-group row" style="height: 40;"><label class="col-sm-3 col-form-label" for="outputNumber">Broj bodova:</label><input class="form-control col-sm-5" type="text" id="outputNumber" readonly="true" /></div>
            <div class="form-group text-center" style="height: 30;"><a href="#">Zaboravili ste šifru?</a></div>
        </form>
    </div>
</div>

