
@{
    ViewData["Title"] = "Prijava";
}

<div class="row border border-primary" style="  background-color: lightgray;
">
    <div class="col">
        @using (Html.BeginForm("Login", "Home"))
        {
        <form style="  background-color: lightgray;
">
            <div class="row">
                <h4 class="col-sm-10" style="  background-color: gray;
">
                    e-Market
                </h4>

                @Html.ActionLink("Kreiraj racun", "Index", "Registration", null, new { })

            </div>
            <hr />
            <div class="illustration"></div>
            <div class="form-group"><input class="form-control" type="text" name="etUsername" placeholder="Korisnicko ime"></div>
            <div class="form-group"><input class="form-control" type="password" name="etPassword" placeholder="Lozinka"></div>
            @Html.ActionLink("Prijavi se", "Index", "Order", null, new {style = "position: relative;background-color: #3DD713;left: 1100px; color: #000000; border-top-left-radius: 5px; border-bottom-left-radius: 5px;", type = "submit" })
            @Html.ActionLink("Zaboravili ste šifru?", "Index", "User", null, new { @class = "forgot" })

        </form>
        }
    </div>
</div>

