
@{
    ViewData["Title"] = "Prijava";
}

<div class="row border border-primary" style="  background-color: lightgray;
">
    <div class="col">
        <form style="  background-color: lightgray;
">
            <div class="row">
                <h4 class="col-sm-6" style="  background-color: gray;
">
                    e-Market
                </h4>
                <div class="col-sm-6 text-center"><a id="linkRegister" href="#">Kreiraj račun</a></div>
            </div>
            <hr />
            <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputUserName">Korisničko ime:</label><input class="form-control col-sm-8" type="text" id="inputUserName" /></div>
            <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputPassword">Lozinka:</label><input class="form-control col-sm-8" type="password" id="inputPassword" /></div>
            <div class="form-group text-center"><a href="#">Zaboravili ste šifru?</a></div>
            <div class="form-group text-right"><button class="btn btn-primary" type="button">Prijavi se</button></div>
        </form>
    </div>
</div>

