
@{
    ViewData["Title"] = "Registracija";
}

<div class="row border border-primary" style="background-color: lightgray;width: 320;">
    <div class="col">
        <form>
            <div style="background-color: gray;height: 40;">
                <h3>Kreiranje računa</h3>
                <hr />
            </div>
            <div class="form-group row" style="height: 40;"><label class="col-sm-3 col-form-label" for="inputName">Ime:</label><input class="form-control col-sm-8" type="text" id="inputName" /></div>
            <div class="form-group row" style="height: 40;"><label class="col-sm-3 col-form-label" for="inputSurname">Prezime:</label><input class="form-control col-sm-8" type="text" id="inputSurname" /></div>
            <div class="form-group row" style="height: 40;"><label class="col-sm-3 col-form-label" for="inputUsername">Korisničko ime:</label><input class="form-control col-sm-8" type="text" id="inputUsername" /></div>
            <div class="form-group row" style="height: 40;"><label class="col-sm-3 col-form-label" for="inputPassword">Lozinka:</label><input class="form-control col-sm-8" type="password" id="inputPassword" /></div>
            <div class="form-group row" style="height: 40;"><label class="col-sm-3 col-form-label" for="inputAdress">Adresa isporuke:</label><input class="form-control col-sm-8" type="text" id="inputAdress" /></div>
            <div class="form-group row" style="height: 40;"><label class="col-sm-3 col-form-label" for="inputQuestion">Sigurnosno pitanje:</label><input class="form-control col-sm-8" type="text" id="inputQuestion" /></div>
            <div class="form-group row" style="height: 40;"><label class="col-sm-3 col-form-label" for="inputAnswer">Odgovor:</label><input class="form-control col-sm-8" type="text" id="inputAnswer" /></div>
            <div class="form-group row" style="height: 40;">
                <div class="col-sm-2 text-left"><button class="btn btn-primary btn-danger" type="button">Odustani</button></div>
                <div class="col-sm-4 text-left"><button class="btn btn-primary btn-success" type="button">Potvrdi</button></div>
            </div>
        </form>
    </div>
</div>

